.product-grid {
  border-radius: 8px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px !important;
  width: 180px !important;
}

.product-img {
  width: 100px !important;
  cursor: pointer !important;
}


.product-name {
  font-size: 11pt !important;
  color: black !important;
  margin: 0px !important;
  margin-top: 14px !important;
}
