<app-wb-navbar></app-wb-navbar>
<div class="uk-container uk-container-medium main-container">
  <div class="header-grid">
    <div>
      <h2 class="page-title">Sell your old mobile</h2>
      <p class="page-heading">Select Brand</p>
    </div>
    <div class="">
      <form class="uk-search uk-search-default header-search">
        <span uk-search-icon></span>
        <input class="uk-search-input"
               type="search"
               placeholder="Search Model"
               aria-label="Search">
        <div class="search-drop"
             uk-dropdown="mode: click">
          <table class="uk-table uk-table-small search-table">
            <tbody>
              <tr>
                <td class="product-name">iPhone 14 Pro</td>
              </tr>
              <tr>
                <td class="product-name">iPhone 14 Pro</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="uk-child-width-1-2@s uk-child-width-1-6@m uk-grid-small uk-margin-medium-top uk-text-center"
       uk-grid>
    <div routerLink="/sell-apple">
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/2e7cdc22-5a5f.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/cb96df6e-080f.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/406a512d-e8dd.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/20922c34-8afc.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/5f6b4d6f-57a9.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/ac5c9a7b-76b5.jpg"
             alt="">
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small brand-grid uk-card-body">
        <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/0124cc45-3a6c.jpg"
             alt="">
      </div>
    </div>
  </div>

  <h2 class="page-title">Top Selling Models</h2>
  <div class="uk-child-width uk-child-width-auto uk-grid-match uk-margin-medium-top uk-text-center uk-grid-small"
       uk-grid>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>

    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
  </div>
</div>
