 @import '_mixins';

 .edit-container {
   background: white;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 16px;
   padding: 40px !important;
 }

 .main-container {
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 34%, rgba(17, 45, 61, 1) 34%, rgba(17, 45, 61, 1) 100%);
   padding: 40px !important;
   height: calc(100vh - 160px);
   //  border-radius: 32px;
 }

 p.page-title {
   color: white !important;
   background-color: $dark-bg;
   text-align: left !important;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 10pt;
 }


 .sidegrid {
   background-color: #f6f6f6;
   border-radius: 8px !important;
 }


 .sidenav>li {

   margin-bottom: 10px;
   padding: 6px 14px;
   border-radius: 12px !important;
 }

 .sidenav>li.uk-active {
   background-color: white !important;
 }

 .sidenav>li.uk-active>a {
   color: $base-color;
 }


 .sidenav>li>a {
   color: $dark-bg;
 }

 .sidenav>li>a>span {
   margin-right: 10px;
   vertical-align: middle !important;
   font-size: 14pt;
 }

 .sidenav>li:last-child {
   margin-bottom: 0px !important;
 }


 .edit-title {
   color: $dark-bg;
   font-size: 14pt !important;
   text-align: left;
   margin-bottom: 0px !important;
 }


 .edit-subtitle {
   text-align: left !important;
   margin-top: 0px !important;
   font-size: 10pt;
 }


 label {
   display: inline-block;
   margin-bottom: 10px;
   font-size: 10pt;
 }


 input {
   color: black !important;
   border-radius: 8px !important;
   font-size: 10pt !important;
   height: 50px !important;
   border: 1px solid #80808050 !important;
   background: #80808010;
 }





 .save-btn {
   background-color: $dark-bg;
   color: white;
   text-transform: capitalize !important;
   height: 48px !important;
 }


 .faq-heading {
   font-size: 14pt !important;
   margin-top: 10px !important;
 }


 .faq-title {
   font-size: 12pt !important;
   margin-bottom: 14px !important;
 }


 .faq-details {
   margin-top: 0px !important;
   font-size: 11pt !important;
   width: 80% !important;
 }
