<app-wb-navbar></app-wb-navbar>

<div class="main-container">

  <div class="uk-container uk-container-medium  edit-container">
    <div class="uk-text-center"
         uk-grid>
      <div class="uk-width-1-4@m">
        <app-wb-settings-nav></app-wb-settings-nav>

      </div>
      <div class="uk-width-expand@m">
        <div class="uk-card uk-padding-remove uk-card-body uk-text-left">
          <h2 class="edit-title">Edit Profile</h2>
          <p class="edit-subtitle">Please enter your personal details. Worry not , they are safe with us.
          </p>

          <form class="uk-grid-small"
                uk-grid>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label"
                     for="form-stacked-text">Enter your full Name</label>
              <label class="uk-form-label uk-float-right"
                     for="form-stacked-text"><a href="">Edit</a></label>
              <input class="uk-input uk-disabled"
                     type="text"
                     placeholder="Abdul Kumshey"
                     aria-label="100">
            </div>
            <div class="uk-width-auto@s uk-hidden">
              <label class="uk-form-label"
                     for="form-stacked-text"> &nbsp; </label> <br>
              <button class="uk-button save-btn">Save</button>
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label"
                     for="form-stacked-text">Email Id</label>
              <label class="uk-form-label uk-float-right"
                     for="form-stacked-text"><a href="">Edit</a></label>
              <input class="uk-input"
                     type="text"
                     value="ak.kumshey@gmail.com"
                     placeholder="Abdul Kumshey"
                     aria-label="100">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label"
                     for="form-stacked-text">Phone Number</label>
              <input class="uk-input"
                     type="text"
                     value="9900141870"
                     placeholder="Abdul Kumshey"
                     aria-label="100">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label"
                     for="form-stacked-text">Alt. Mobile Number</label>
              <label class="uk-form-label uk-float-right"
                     for="form-stacked-text"><a href="">Edit</a></label>
              <input class="uk-input"
                     type="text"
                     value=""
                     placeholder="Enter your alternate number"
                     aria-label="100">
            </div>
            <div class="uk-width-1-4@s">

            </div>
          </form>

          <h6 class="faq-heading">FAQ's</h6>

          <div class="faq-grid">
            <h6 class="faq-title">What happens when I update my email address (or mobile number)?
            </h6>
            <p class="faq-details">Your login email id (or mobile number) changes, likewise. You'll receive all your
              account related communication on your updated email address (or mobile number).
            </p>
          </div>
          <div class="faq-grid">
            <h6 class="faq-title">When will my Flipkart account be updated with the new email address (or mobile
              number)?

            </h6>
            <p class="faq-details">Your login email id (or mobile number) changes, likewise. You'll receive all your
              account related communication on your updated email address (or mobile number).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
