<app-wb-navbar></app-wb-navbar>

<div class="main-container-v">

  <div class="uk-container uk-container-medium  edit-container">
    <div class="uk-text-center"
         uk-grid>
      <div class="uk-width-1-4@m">
        <app-wb-settings-nav></app-wb-settings-nav>

      </div>
      <div class="uk-width-expand@m">
        <div class="uk-card uk-padding-remove uk-card-body uk-text-left">
          <h2 class="setting-heading">Your Orders</h2>
          <p class="setting-subheading">See your orders here</p>

          <div class="uk-child-width-1-2@s uk-child-width-1-1@m uk-grid-small uk-text-center"
               uk-grid>
            <div>
              <div class="uk-card card-details uk-padding-small uk-card-body">
                <div class="cart-grid">
                  <div class="product-info">
                    <div class="details">
                      <img class="cart-img"
                           src="https://s3n.cashify.in/cashify/product/img/xhdpi/csh-6vukhanm-ci0i.png"
                           alt="">
                      <div class="">
                        <p class="cart-date">Date: Mon, 13 Mar'23
                        </p>
                        <p class="product-name">Apple iPhone 5s (1 GB/16 GB)
                        </p>
                        <p class="price">Sell Amount Upto <span>₹</span> <span> 500</span></p>
                      </div>
                    </div>
                    <div class="">
                      <a class="uk-badge continue"> Continue Selling
                      </a>
                    </div>
                  </div>



                </div>
                <hr class="price-hr">
                <div class="status-grid">
                  <p class="pen-title pending">Pending : Address Pending
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card card-details uk-padding-small uk-card-body">
                <div class="cart-grid">
                  <div class="product-info">
                    <div class="details">
                      <img class="cart-img"
                           src="https://s3n.cashify.in/cashify/product/img/xhdpi/csh-6vukhanm-ci0i.png"
                           alt="">
                      <div class="">
                        <p class="cart-date">Date: Mon, 13 Mar'23
                        </p>
                        <p class="product-name">Apple iPhone 5s (1 GB/16 GB)
                        </p>
                        <p class="price">Sell Amount Upto <span>₹</span> <span> 500</span></p>
                      </div>
                    </div>
                    <div class="">
                      <a class="uk-badge continue"> Continue Selling
                      </a>
                    </div>
                  </div>



                </div>
                <hr class="price-hr">
                <div class="status-grid">
                  <p class="pen-title pending">Pending : Address Pending
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- <ul class="uk-subnav uk-subnav-pill pending-switch"
              uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li><a href="#">Confirmed Orders</a></li>
            <li><a href="#">Pending Orders</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">
            <li>Hello!</li>
            <li>Hello again!</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>


</div>
