<app-wb-navbar></app-wb-navbar>

<div class="main-container-v">

  <div class="uk-container uk-container-medium  edit-container">
    <div class="uk-text-center"
         uk-grid>
      <div class="uk-width-1-4@m">
        <app-wb-settings-nav></app-wb-settings-nav>

      </div>
      <div class="uk-width-expand@m">
        <div class="uk-card uk-padding-remove uk-card-body uk-text-left">
          <div class="saved-header">
            <div>
              <h2 class="setting-heading">Saved Address</h2>
              <p class="setting-subheading">Save your payments</p>
            </div>
            <div>
              <a href="#modal-example"
                 uk-toggle
                 class="uk-button add-btn">Add New</a>

              <app-wb-add-new-address></app-wb-add-new-address>


            </div>

          </div>


          <!-- <ul class="uk-subnav uk-subnav-pill pending-switch"
              uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li><a href="#">Confirmed Orders</a></li>
            <li><a href="#">Pending Orders</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">
            <li>Hello!</li>
            <li>Hello again!</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>


</div>
