<div class="uk-card uk-padding-small sidegrid uk-card-body">
  <!-- <p class="page-title">Settings</p> -->
  <div class="uk-width-1-1@s uk-width-1-1@m">
    <ul class="uk-nav-default sidenav"
        uk-nav>
      <li class="uk-active"><a routerLink="/edit-profile"> <span class="material-icons-outlined">
            edit_note
          </span> Edit Profiles</a></li>
      <li><a routerLink="/your-orders"> <span class="material-icons-outlined">
            shopping_basket
          </span> Orders</a></li>
      <li><a routerLink="/saved-payments"> <span class="material-icons-outlined">
            credit_card
          </span> Saved Payments</a></li>
      <li><a routerLink="/saved-address"><span class="material-icons-outlined">
            share_location
          </span> Saved Address</a></li>
      <li><a href="#"><span class="material-icons-outlined">
            storefront
          </span> Partner Program</a></li>
    </ul>
  </div>
</div>
