<div id="location-modal"
     uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-position-bottom uk-transition-slide-bottom  h-screen">
    <button class="uk-modal-close-default close-btn"
            type="button"
            uk-close></button>
    <p class="text-black text-[20px] mb-2">Select your cities</p>
    <p class="text-[16px] w-4/5">Find Our Refurbished Mobile Business Near You</p>
    <div class="relative flex items-center w-full mt-4">
      <input class="w-full py-4 pr-10 text-gray-700 bg-white border border-gray-300 rounded-[8px]"
             type="text"
             placeholder="Search...">
      <button type="submit"
              class="absolute top-0 right-0  h-full mr-3">
        <svg fill="none"
             class="w-6 h-6"
             stroke="currentColor"
             stroke-width="1.5"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
        </svg>
      </button>
    </div>
    <div class="border-0 border-t-2 border-dotted mt-4 pt-0 w-full">
      <button class="w-full mt-8 flex text-[#92c640]">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="ionicon w-6 h-6 mr-4"
             viewBox="0 0 512 512">
          <path fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M256 96V56M256 456v-40" />
          <path d="M256 112a144 144 0 10144 144 144 144 0 00-144-144z"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="32" />
          <path fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M416 256h40M56 256h40" /></svg> <span class="text-[16px]">Current Location Using GPS</span>
      </button>
      <ul class="w-full mt-4">
        <li class="w-full py-4  ">
          <a href=" "
             class="flex items-center">
            <svg fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 viewBox="0 0 24 24"
                 class="w-5 h-5 mr-4"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg>
            <span class="text-[16px]">Bangalore
              <pre class="p-0 border-0 text-[13px]">Karnataka, India</pre> </span> </a>
        </li>
        <li class="w-full py-4  ">
          <a href=" "
             class="flex items-center">
            <svg fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 viewBox="0 0 24 24"
                 class="w-5 h-5 mr-4"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg>
            <span class="text-[16px]">Mumbai
              <pre class="p-0 border-0 text-[13px]">Maharastra, India</pre> </span> </a>
        </li>
        <li class="w-full py-4  ">
          <a href=" "
             class="flex items-center">
            <svg fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 viewBox="0 0 24 24"
                 class="w-5 h-5 mr-4"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg>
            <span class="text-[16px]">Chennai
              <pre class="p-0 border-0 text-[13px]">Tamil Nadu, India</pre> </span> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
