<app-wb-navbar></app-wb-navbar>
<div class="uk-container uk-container-medium main-container">
  <div class="header-grid">
    <div>
      <h2 class="page-title">Sell your old mobile</h2>
      <p class="page-heading">Select Brand</p>
    </div>
    <div class="">
      <form class="uk-search uk-search-default header-search">
        <span uk-search-icon></span>
        <input class="uk-search-input"
               type="search"
               placeholder="Search Model"
               aria-label="Search">
        <div class="search-drop"
             uk-dropdown="mode: click">
          <table class="uk-table uk-table-small search-table">
            <tbody>
              <tr>
                <td class="product-name">iPhone 14 Pro</td>
              </tr>
              <tr>
                <td class="product-name">iPhone 14 Pro</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="uk-child-width uk-child-width-auto uk-grid-match uk-margin-medium-top uk-text-center uk-grid-small"
       uk-grid>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>

    <div>
      <app-wb-product-grid></app-wb-product-grid>
    </div>
  </div>
</div>
