<app-wb-navbar></app-wb-navbar>

<div class="uk-text-center uk-grid-collapse"
     uk-grid>
  <div class="uk-width-expand@m">
    <div class="uk-card uk-padding-remove uk-card-body">
      <div class="homesp-grid uk-text-left">
        <h2 class="hsp-heading">Sell your Mobile Phone for Instant Cash
        </h2>
        <p class="hsp-feature">
          <span>Maximum Value
          </span>
          <span>Safe & Hassle-free
          </span>
          <span>Free Doorstep Pickup
          </span>
        </p>
        <div class="uk-margin uk-width-1-1">
          <form class="uk-search uk-search-default uk-width-1-1">

            <a class="uk-form-icon uk-form-icon-flip tsp-close"></a>

            <span uk-search-icon></span>

            <input class="uk-search-input hsp-search"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <div class="search-drop"
                 uk-dropdown="mode: click">
              <table class="uk-table uk-table-small search-table">
                <tbody>
                  <tr>
                    <td class="product-img">
                      <img class="search-img"
                           src="https://www.logo.wine/a/logo/Apple_Inc./Apple_Inc.-Logo.wine.svg"
                           alt="">
                    </td>
                    <td class="product-name">iPhone 14 Pro</td>
                  </tr>
                  <tr>
                    <td class="product-img">
                      <img class="search-img"
                           src="https://www.logo.wine/a/logo/Apple_Inc./Apple_Inc.-Logo.wine.svg"
                           alt="">
                    </td>
                    <td class="product-name">iPhone 14 Pro</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <p class="uk-heading-line uk-text-center pr-color"><span>Or choose a brand
          </span></p>
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match uk-grid-small uk-text-center"
             uk-grid>
          <div>
            <div class="uk-card hsp-img uk-card-body">
              <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/2e7cdc22-5a5f.jpg"
                   alt="">
            </div>
          </div>
          <div>
            <div class="uk-card hsp-img uk-card-body">
              <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/cb96df6e-080f.jpg"
                   alt="">
            </div>
          </div>
          <div>
            <div class="uk-card hsp-img uk-card-body">
              <img src="https://s3n.cashify.in/cashify/brand/img/xhdpi/406a512d-e8dd.jpg"
                   alt="">
            </div>
          </div>
          <div>
            <div class="uk-card hsp-img more uk-card-body">
              <p class="more-br"> 10+ Brands</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-auto@m">
    <div class="uk-card uk-padding-remove uk-card-body">
      <img src="https://www.indiaistore.com/files/uploads/products/iphone-14/iphone-14-1-d.jpg"
           alt=""
           class="home-img">
    </div>
  </div>
</div>

<div class="uk-card uk-grid-collapse uk-child-width-1-2@s"
     uk-grid>
  <div class="uk-flex-last@s uk-card-media-right uk-cover-container">

  </div>
  <div>
    <div class="uk-card-body uk-padding-large">
      <h3 class="uk-card-title">Media Right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>
