<app-wb-navbar></app-wb-navbar>

<div class="uk-text-center uk-grid-collapse"
     uk-grid>
  <div class="uk-width-expand@m">
    <div class="uk-card uk-padding-remove uk-card-body">
      <div class="homesp-grid uk-text-left">
        <h2 class="hsp-heading">Sell your Mobile Phone for Instant Cash
        </h2>
        <p class="hsp-feature">
          <span>Maximum Value
          </span>
          <span>Safe & Hassle-free
          </span>
          <span>Free Doorstep Pickup
          </span>
        </p>
        <div class="uk-margin uk-width-1-1">
          <form class="uk-search uk-search-default uk-width-1-1">
            <span uk-search-icon></span>
            <input class="uk-search-input hsp-search"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
          </form>
        </div>
        <p class="uk-heading-line uk-text-center"><span>Or choose a brand
          </span></p>
        <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-grid-small uk-text-center"
             uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-auto@m">
    <div class="uk-card uk-padding-remove uk-card-body">
      <img src="https://www.indiaistore.com/files/uploads/products/iphone-14/iphone-14-1-d.jpg"
           alt=""
           class="home-img">
    </div>
  </div>
</div>

<div class="uk-card uk-grid-collapse uk-child-width-1-2@s"
     uk-grid>
  <div class="uk-flex-last@s uk-card-media-right uk-cover-container">

  </div>
  <div>
    <div class="uk-card-body uk-padding-large">
      <h3 class="uk-card-title">Media Right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>
