<app-wb-navbar></app-wb-navbar>

<div class="uk-card uk-grid-collapse uk-child-width-1-2@s"
     uk-grid>
  <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
    <img src="https://www.indiaistore.com/files/uploads/products/iphone-14/iphone-14-1-d.jpg"
         alt="">
  </div>
  <div>
    <div class="uk-card-body uk-padding-large">
      <h3 class="uk-card-title">Media Right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>
