 @import 'variables';
 @import 'mixins';
 @import 'custom';
 /* UIKit */
 @import "variables-theme.scss";
 @import "mixins-theme.scss";
 @import "uikit-theme.scss";
 @import 'material-icons/iconfont/material-icons.css';


 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 @import '_mixins.scss';

 a,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 button,
 div,
 li {
   font-family: 'Poppins',
     sans-serif !important;
 }

 a {
   text-transform: none !important;
 }


 .nav-bread>ul>li>a {
   color: gray !important;
   font-size: 10pt !important;
 }


 .variant-rad>label {
   padding: 10px 20px !important;
   background-color: #f1f1f1;
   margin-right: 20px !important;
   color: black !important;
   cursor: pointer !important;
   border-radius: 8px !important;
   border: 1px solid gray !important;
 }


 .variant-rad>label>input {
   margin-right: 10px !important;
 }


 .view-var {
   padding-left: 0px !important;
 }


 .variant-rad>label.checked {
   background-color: #f1f1f1 !important;
 }

 .edit-container {
   background: white;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 16px;
   padding: 40px !important;
 }

 .main-container-v {
   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 34%, rgba(17, 45, 61, 1) 34%, rgba(17, 45, 61, 1) 100%);
   padding: 40px !important;
   height: calc(100vh - 160px);
   //  border-radius: 32px;
 }


 p.page-title {
   color: white !important;
   background-color: $dark-bg;
   text-align: left !important;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 10pt !important;
 }


 .setting-heading {
   font-size: 14pt !important;
   margin-bottom: 4px !important;
 }

 .setting-subheading {
   font-size: 11pt !important;
   color: gray !important;
   margin-top: 0px !important;
 }


 .pending-switch>li>a {
   padding: 10px 30px !important;
   color: black !important;
   background-color: #dcdcdc !important;
 }

 .pending-switch>li.uk-active>a {
   background-color: $base-color;
   color: white !important;
 }
