 @import 'variables';
 @import 'mixins';
 @import 'custom';
 /* UIKit */
 @import "variables-theme.scss";
 @import "mixins-theme.scss";
 @import "uikit-theme.scss";
 @import 'material-icons/iconfont/material-icons.css';


 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 @import '_mixins.scss';

 a,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 button,
 div,
 li {
   font-family: 'Poppins',
     sans-serif !important;
 }

 a {
   text-transform: none !important;
 }


 .nav-bread>ul>li>a {
   color: gray !important;
   font-size: 10pt !important;
 }


 .variant-rad>label {
   padding: 10px 20px !important;
   background-color: #f1f1f1;
   margin-right: 20px !important;
   color: black !important;
   cursor: pointer !important;
   border-radius: 8px !important;
   border: 1px solid gray !important;
 }


 .variant-rad>label>input {
   margin-right: 10px !important;
 }


 .view-var {
   padding-left: 0px !important;
 }
