.question-container {
  background-color: white !important;
  border-radius: 16px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.container-pd {
  padding-top: 20px !important;
}
