<app-wb-navbar></app-wb-navbar>
<div class="uk-container uk-container-xlarge uk-padding-large container-pd ">
  <div class="uk-text-center"
       uk-grid>

    <div class="uk-width-expand@m">
      <div class="uk-card uk-padding-small question-container uk-text-left uk-card-body">
        <button class="uk-button back-btn">Back </button>

        <div class="uk-margin-small-top info-container">
          <div class="img-grid">
            <img src="https://s3n.cashify.in/cashify/product/img/xhdpi/csh-qp4ba4sq-aeny.png"
                 alt="">
          </div>
          <div class="info-grid">
            <h2 class="phone-name">Apple iPhone 6 (1 GB/32 GB)
            </h2>
            <p class="price-title">Selling price :</p>

            <h1 class="price">₹500
            </h1>

            <a href=""
               class="uk-button rep-btn">See Device Report</a>
          </div>
        </div>
        <hr>

        <ul uk-accordion="collapsible: false">
          <li>
            <a class="uk-accordion-title"
               href="#">Item 1</a>
            <div class="uk-accordion-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title"
               href="#">Item 2</a>
            <div class="uk-accordion-content">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor reprehenderit.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title"
               href="#">Item 3</a>
            <div class="uk-accordion-content">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat proident.</p>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-padding-remove question-container side uk-card-body ">
        <app-wb-quotation></app-wb-quotation>

      </div>
    </div>
  </div>
</div>
