<div>
  <div class="valuation-grid">
    <div>
      <img class="val-img"
           src="https://s3n.cashify.in/cashify/product/img/xhdpi/csh-6vukhanm-ci0i.png"
           alt="">
    </div>
    <div>
      <p class="name">iPhone 6s - 128gb</p>
    </div>
  </div>
</div>
<div class="device-details">
  <hr>
  <p class="heading">Device Details</p>
  <div>
    <p class="title">Screen Condition</p>
    <ul class="list">
      <li>You can't make calls</li>
      <li>You can't make calls</li>
    </ul>
  </div>
  <div>
    <p class="title">Device Details
    </p>
    <ul class="list">
      <li>You can't make calls</li>
      <li>You can't make calls</li>
    </ul>
  </div>
</div>
