<!-- This is the modal -->
<div id="logout-modal"
     uk-modal>
  <div class="uk-modal-dialog uk-modal-body login-modal uk-margin-auto-vertical uk-text-center">
    <button class="uk-modal-close-default cancel-btn"
            type="button"
            uk-close></button>
    <img src="assets/fi/logout.svg"
         class="logout-img"
         alt="">
    <h2 class="heading">Are you sure you want to logout?</h2>
    <form class="uk-grid-small"
          uk-grid>
      <div class="uk-width-1-2">
        <button class="uk-button uk-width-1-1 logout-btn">Logout</button>
      </div>
      <div class="uk-width-1-2">
        <button class="uk-button uk-width-1-1 lo-cancel">Cancel</button>
      </div>
    </form>
  </div>

</div>
