<h5 class="question-heading">Tell us a few things about your device!
</h5>

<div class="uk-child-width-1-2@s uk-child-width-1-1@m uk-grid-small uk-text-center"
     uk-grid>
  <div>
    <div class="uk-card uk-text-left  question-grid uk-card-body">
      <h4 class="question-name"> <span>1 .</span> Are you able to make and receive calls?
      </h4>
      <p class="question-info">Check your device for cellular network connectivity issues.
      </p>
      <div class="uk-margin uk-grid-small  variant-rad uk-child-width-auto uk-grid">
        <label class="checked"><input class="uk-radio"
                 type="radio"
                 name="radio2"
                 checked> Yes</label>
        <label><input class="uk-radio"
                 type="radio"
                 name="radio2"> No</label>
      </div>
    </div>

  </div>
  <div>
    <div class="uk-card uk-text-left uk-padding-small question-grid uk-card-body">
      <h4 class="question-name"> <span>1 .</span> Are you able to make and receive calls?
      </h4>
      <p class="question-info">Check your device for cellular network connectivity issues.
      </p>
      <div class="uk-margin uk-grid-small  variant-rad uk-child-width-auto uk-grid">
        <label class="checked"><input class="uk-radio"
                 type="radio"
                 name="radio2"
                 checked> Yes</label>
        <label><input class="uk-radio"
                 type="radio"
                 name="radio2"> No</label>
      </div>
    </div>

  </div>
</div>

<button routerLink="/defects"
        class="uk-button continue-btn uk-margin-medium-top uk-text-right">Continue <span
        class="material-icons-outlined">
    east
  </span></button>
