<div id="modal-example"
     uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <p class="modal-title">Address</p>
    <button class="uk-modal-close-default"
            type="button"
            uk-close></button>
    <form class="uk-grid-small"
          uk-grid>
      <div class="uk-width-1-1">
        <button class="uk-button uk-width-1-1 fetch-btn"> <img class="gps-img"
               src="https://cdn-icons-png.flaticon.com/512/1004/1004305.png"
               alt=""> Use My Current Location</button>
      </div>
      <div class="uk-width-1-1@s">
        <label for="">Address *</label>

        <input class="uk-input"
               type="text"
               placeholder="Enter full addresss"
               aria-label="50">
      </div>
      <div class="uk-width-1-2@s">
        <label for="">Flat No. & Flat Name *</label>

        <input class="uk-input"
               type="text"
               placeholder="Flat No. & Flat Name"
               aria-label="50">
      </div>
      <div class="uk-width-1-2@s">
        <label for="">Landmark (Optional)</label>

        <input class="uk-input"
               type="text"
               placeholder="Landmark Near you"
               aria-label="50">
      </div>
      <div class="uk-width-1-2@s">
        <label for="">Alt Phone Number (Optional)</label>

        <input class="uk-input"
               type="text"
               placeholder="Alt. Phone Number"
               aria-label="50">
      </div>
      <div class="uk-width-1-2@s">
        <label for="">Pincode </label>

        <input class="uk-input"
               type="text"
               placeholder="Enter your pincode"
               aria-label="50">
      </div>


      <div class="uk-width-1-1@s">
        <button type="submit"
                class="uk-button uk-width-1-1 sub-btn">Continue</button>
      </div>
    </form>
  </div>
</div>
