<div class="uk-padding-small"
     style="padding: 20px !important;">
  <h2 class="price-heading">Price Summary</h2>

  <table class="uk-table uk-table-small uk-text-left price-table uk-table-divider">
    <tbody>
      <tr>
        <td>Base Price</td>
        <td><span class="rupee">₹ </span>5000</td>
      </tr>
      <tr>
        <td>Pickup Charges
        </td>
        <td><span class="rupee free">₹ <span class="ac-price free">5000</span></span> <span class="pre-price">500</span>
        </td>
      </tr>
      <tr class="coupon">


        <td class="uk-width-1-1">Apply Coupon
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
