@import '_mixins.scss';


.topnav {
  padding: 0px 80px !important;
  margin-bottom: 0px !important;
  background-color: white !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.wb-logo {
  width: 80px !important;
}

.topnav>div>ul>li>a {
  color: black !important;
  font-size: 10pt !important;
}


.navdrop {
  top: 80px !important;
}


.navcity {
  color: #92c640 !important;
  background: none !important;
  text-decoration: none !important;
  padding: 0px !important;
}

.navcity>img {
  width: 20px !important;
  margin-left: 20px !important;
}

.login-button {
  // background-color: #003249 !important;
  color: #003249 !important;
  font-size: 10pt !important;
  padding: 4px 40px !important;
  // border: 1px solid #003249 !important;
  border-radius: 46px !important;
}

.login-button>span {
  vertical-align: middle !important;
  font-size: 16pt !important;
  margin-right: 8px !important;
}

.location-drop {
  padding: 20px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border-radius: 8px !important;
}


.profile-drop {
  padding: 10px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border-radius: 8px !important;
}


.profile-ul {
  background-color: $dark-bg;
}


.profile-nav>li>a {
  color: $dark-bg;
  padding: 10px !important;
  border-radius: 8px !important;
}

.profile-nav>li:hover>a {
  background-color: #f1f1f1de !important;
  color: #003249 !important;
}

.profile-nav>li>a>span {
  vertical-align: middle !important;
  font-size: 13pt !important;
  margin-right: 8px !important;
}



.logout-btn {
  background-color: #c30f0f;
  margin-top: 10px !important;
  color: white !important;
  border: 1px solid #c30f0f !important;
  border-radius: 90px !important;
}

.logout-btn>span {
  vertical-align: middle !important;
  font-size: 10pt !important;
}

.logout-btn:hover {
  background: none !important;
  color: #c30f0f !important;
}


.nav-category {
  padding: 0px !important;
}

.nc-heading {
  margin: 20px !important;
  font-size: 11pt !important;
  color: #92c640 !important;
  margin-bottom: 0px !important;
}

.nav-category {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}


.nav-category>ul>li>a {
  margin: 2px 10px !important;
  padding: 10px !important;
  font-size: 10pt !important;
  color: #003249 !important;
}

.nav-category>ul>li:first-child>a {
  margin-top: 10px !important;
}

.nav-category>ul>li:last-child>a {
  margin-bottom: 10px !important;
}


.nav-category>ul>li:hover>a {
  background-color: #f1f1f1de;
  border-radius: 4px !important;
}
