<nav class="uk-navbar-container topnav"
     uk-navbar
     uk-sticky>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo"
       href="#"
       aria-label="Back to Home">
      <img src="assets/icons/color.svg"
           class="wb-logo"
           alt="">
    </a>

    <ul class="uk-navbar-nav">

      <li><a routerLink="">Home</a></li>
      <li>
        <a href="#">Sell Mobile <span uk-navbar-parent-icon></span></a>
        <div class="uk-navbar-dropdown navdrop nav-category">
          <p class="nc-heading">Top Brands</p>
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a routerLink="/sell-apple">Apple</a></li>
            <li><a href="#">MI</a></li>
            <li class="uk-nav-divider"></li>
            <li><a routerLink="/sell-old-mobile">More Brands</a></li>
          </ul>
        </div>
      </li>
      <li class="uk-active"><a href="#">Sell Tablets</a></li>
      <li><a href="#">Sell Laptops</a></li>
      <li><a href="#">Buy Refurbed</a></li>
      <li><a href="">Become Our Partner</a></li>

    </ul>

  </div>
  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li>

      </li>
    </ul>
    <div class="uk-navbar-item">
      <a class="uk-button navcity bg-slate-200">Bangalore <img src="assets/fi/location.svg"
             alt=""> </a>
      <div class="uk-width-auto  uk-padding-remove location-drop"
           uk-dropdown="pos: bottom-right; mode : click;">
        <app-wb-location></app-wb-location>
      </div>
    </div>
    <!-- <div class="uk-navbar-item">
      <a class="uk-button login-button "
         uk-toggle="target: #login-modal">Login</a>
    </div> -->
    <div class="uk-navbar-item">
      <a class="uk-button login-button ">Login</a>
      <div class="uk-width-auto uk-padding-remove profile-drop"
           uk-dropdown="pos: bottom-right; mode : click;">
        <ul class="uk-nav uk-dropdown-nav profile-nav">
          <li><a href="#"> <span class="material-icons-outlined">
                account_circle
              </span> Edit Profile</a></li>
          <li><a href="#"> <span class="material-icons-outlined">
                shopping_basket
              </span> Orders</a></li>
          <li><a href="#"> <span class="material-icons-outlined">
                credit_card
              </span> Saved Payments</a></li>
          <li><a href="#"><span class="material-icons-outlined">
                share_location
              </span> Saved Address</a></li>
          <li><a href="#"><span class="material-icons-outlined">
                storefront
              </span> Partner Program</a></li>
          <li><a href="#"><span class="material-icons-outlined">
                logout
              </span> Logout</a></li>
        </ul>
        <!-- <a href=""
           uk-toggle="target: #logout-modal"
           class="uk-button logout-btn uk-width-1-1"><span class="material-icons-outlined">
            logout
          </span> Logout</a> -->
      </div>
    </div>
  </div>
</nav>
<app-wb-logout></app-wb-logout>
<app-wb-login></app-wb-login>
<app-wb-otp></app-wb-otp>
