@import '_mixins.scss';

.login-modal {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white !important;
  width: 34vw;
  padding: 20px !important;
  border-radius: 8px;
}


.close-btn {
  color: white !important;
  // background: $light-base !important;
  margin-bottom: 1% !important;
  padding: 7px 10px !important;
  border-radius: 90px !important;
  background-color: #e63b3b;
  width: 35px;
  height: 35px;
  border: 3px solid white !important;
}

.close-btn:hover {
  background: white !important;
  color: #e63b3b !important;
}


.login-img {
  width: 100% !important;
  height: 180px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}



.login-heading {
  color: black !important;
  text-align: center !important;
  font-size: 14pt !important;
  font-weight: 500 !important;
}


.form-div {
  padding: 40px !important;
  padding-top: 0px !important;

}



.login-input {
  background-color: white !important;
  color: black !important;
  height: 48px !important;
  border: 1px solid #e8e8e8 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 11pt !important;
}


.login-numb {
  color: black !important;
  font-size: 11pt !important;
}


.login-label {
  color: black !important;
  font-size: 9pt !important;
  display: inline-block !important;
  margin-bottom: 6px !important;
}


.login-check {
  color: black !important;
  font-size: 10pt !important;
}


.login-check>input {
  margin-right: 10px !important;
}

.login-check a {
  color: $base-color;
}


.login-check>input:checked {
  background-color: $base-color;
}


.login-submit {
  background-color: $dark-bg;
  color: white !important;
  padding: 4px !important;
  font-size: 12pt !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
}


.login-input::-webkit-outer-spin-button,
.login-input::-webkit-inner-spin-button {
  display: none !important;
}


.login-submit:hover {
  background-color: $base-color;
}
