<!-- This is the modal -->
<div id="modal-example"
     uk-modal>
  <div class="uk-modal-dialog uk-modal-body login-modal">
    <button class="uk-modal-close-default close-btn"
            type="button"
            uk-close></button>

    <img src="assets/img-def/login.jpg"
         class="login-img "
         alt="">
    <p class="login-heading">Login to continue</p>
    <div class="form-div">
      <form class="uk-grid-small"
            uk-grid>
        <div class="uk-width-1-1">
          <label class="uk-form-label login-label"
                 for="form-stacked-text">Enter your mobile number</label>

          <div class=" uk-child-width-1-1">
            <div class="uk-inline">
              <a class="uk-form-icon login-numb"
                 href="#">+91</a>
              <input class="uk-input uk-width-1-1 login-input"
                     type="number"
                     ngModel
                     maxlength="25"
                     aria-label="Clickable icon">
            </div>
          </div>
        </div>
        <div class="uk-width-1-1@s">
          <label class="login-check"><input class="uk-checkbox"
                   type="checkbox"
                   checked> I agree to the <a href="http://"
               target="_blank"
               rel="noopener noreferrer">
              Terms and Conditions</a> </label>
        </div>
        <div class="uk-width-1-1@s">
          <button class="uk-button uk-width-1-1 login-submit"
                  type="submit">continue</button>
        </div>
      </form>
    </div>

  </div>

</div>
