<!-- This is the modal -->
<div id="modal-example"
     uk-modal>
  <div class="uk-modal-dialog uk-modal-body login-modal">
    <button class="uk-modal-close-default close-btn"
            type="button"
            uk-close></button>

    <img src="assets/img-def/login.jpg"
         class="login-img "
         alt="">
    <p class="login-heading">Login to continue</p>
    <div class="form-div">
      <form class="uk-grid-small"
            uk-grid>
        <div class="uk-width-1-1">
          <input class="uk-input login-input"
                 type="text"
                 placeholder="+91"
                 aria-label="100">
        </div>
        <div class="uk-width-1-2@s">
          <input class="uk-input"
                 type="text"
                 placeholder="50"
                 aria-label="50">
        </div>
        <div class="uk-width-1-4@s">
          <input class="uk-input"
                 type="text"
                 placeholder="25"
                 aria-label="25">
        </div>
      </form>
    </div>

  </div>

</div>
