<p class="heading">Your location</p>
<button class="uk-button current-location uk-width-1-1"> <img class="cl-icon"
       src="assets/fi/gps.svg"
       alt=""> Bangalore</button>
<div class="location-list">
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small uk-text-center"
       uk-grid>
    <div>
      <div class="uk-card uk-padding-small location-grid uk-active uk-card-body">
        <img src="https://cdn-icons-png.flaticon.com/512/7757/7757842.png"
             class="location-img"
             alt="">
        <p class="location-name">Bangalore</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-small location-grid uk-card-body">
        <img src="https://cdn-icons-png.flaticon.com/512/2551/2551930.png"
             class="location-img"
             alt="">
        <p class="location-name">Mumbai</p>
      </div>
    </div>
  </div>
</div>
<p class="lo-more">More cities coming soon</p>
